<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
   <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
 
  <link rel="stylesheet" href="/css/add-responsable.css">
</head>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->

  <div class="table-controls">  

    <div class="arrow">
        <a href="/responsables">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>


   
  
  


</div>
  <div class="container center-card">
    

  
    <section>
      <div class="container">
        <div class="card shadow">
          <div class="card-header border-bottom">
            <h5 class="mb-0">Ajouter Responsable</h5>
          </div>

          <div class="card-body">
            <form action="/add-responsable" method="POST">
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">Nom Responsable</label>
                  <input class="form-control" type="text" name="name_Responsable" placeholder="Entrez Nom Responsable">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Nom Entreprises</label>
                  <input class="form-control" type="text" name="name_companies" placeholder="Entrez Nom Entreprises">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Lieu de Naissance</label>
                  <input class="form-control" type="text" name="birthplace" placeholder="Entrez Lieu de Naissance">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Date de Naissance</label>
                  <input class="form-control" type="date" name="birthday" placeholder="Entrez Date de Naissance">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Numéro de Téléphone</label>
                  <input class="form-control" type="tel" name="num_tel" placeholder="Entrez Numéro de Téléphone">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Email</label>
                  <input class="form-control" type="email" name="email" placeholder="Entrez l'Email">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Nom d'utilisateur</label>
                  <input class="form-control" type="text" name="username" placeholder="Entrez Nom d'utilisateur">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Mot de Passe</label>
                  <input class="form-control" type="password" name="password" placeholder="Entrez Mot de Passe">
                </div>

              
              </div>

              <div class="mt-3">
                <button type="submit" class="btn btn-primary">Souvgarder</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- Footer End !! -->
</body>
</html>
