<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link rel="stylesheet" href="/css/Responables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->

    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>Name_responsable</th>
                    <th>Name_companies</th>
                    <th>birthday</th>
                    <th>tele</th>
                    <th>birthplace</th>
                    <th>Email</th>
                    <th>UserName</th>
                    <th>type</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>hggthgj</td>
                    <td>jgfjfgj</td>
                    <td>jgfjfg</td>
                    <td>jfgjfg</td>
                    <td>gfjfgj</td>
                    <td>gfjnfgj</td>
                    <td>jngfj,fg</td>
                    <td>yttyt</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-light mb-0">Edit</a>
                        <form action="#" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>
