<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</head>
<style>
    .table-controls {
    display: flex;
    justify-content: space-between; /* Align controls to the right */
    padding: 10px 70px;
    margin-bottom: 1px;
}



.arrow{
    font-size: 25px;
}
.arrow a{
    font-size: 30px;
    color: black;
}
</style>

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Header Ends!! -->



    <div class="page-content-wrapper p-xxl-4" style="max-width: 80%; margin: auto;">
        <div class="arrow">
            <a href="/dashboard">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>

    <div class="page-content-wrapper p-xxl-4">

        <!-- Title -->
        <div class="row">
            <div class="col-12 mb-4 mb-sm-5">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <h1 class="h3 mb-3 mb-sm-0"> List Client</h1>
                   
                </div>
            </div>
        </div>

        <!-- Filters START -->
        <div class="row g-4 align-items-center">
           
           

            <!-- Search -->
            <div class="col-md-6 col-lg-3">
                <form class="rounded position-relative">
                    <input class="form-control bg-transparent" type="search" placeholder="Search" aria-label="Search">
                    <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
                        <i class="fas fa-search fs-6"></i>
                    </button>
                </form>
            </div>

          
        </div>
        <!-- Filters END -->

        <!-- Guest list START -->
        <div class="card shadow mt-5">
            <!-- Card body START -->
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>avatar</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Tele</th>
                            <th>genre</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xs flex-shrink-0">
                                        <img class="avatar-img rounded-circle" src="/img/amin.png" alt="avatar">
                                    </div>
                                   
                                </div>
                            </td>
                            <td>Lori Stevens</td>
                            <td>Lori Stevens</td>
                            <td>lori@gmail.com</td>
                            <td>06170902</td>
                            <td><div class="badge bg-success bg-opacity-10 text-success">male</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xs flex-shrink-0">
                                        <img class="avatar-img rounded-circle" src="/img/amin.png" alt="avatar">
                                    </div>
                                   
                                </div>
                            </td>
                            <td>Lori Stevens</td>
                            <td>Lori Stevens</td>
                            <td>lori@gmail.com</td>
                            <td>06170902</td>
                            <td><div class="badge bg-success bg-opacity-10 text-success">male</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xs flex-shrink-0">
                                        <img class="avatar-img rounded-circle" src="/img/amin.png" alt="avatar">
                                    </div>
                                   
                                </div>
                            </td>
                            <td>Lori Stevens</td>
                            <td>Lori Stevens</td>
                            <td>lori@gmail.com</td>
                            <td>06170902</td>
                            <td><div class="badge bg-success bg-opacity-10 text-success">male</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xs flex-shrink-0">
                                        <img class="avatar-img rounded-circle" src="/img/amin.png" alt="avatar">
                                    </div>
                                   
                                </div>
                            </td>
                            <td>Lori Stevens</td>
                            <td>Lori Stevens</td>
                            <td>lori@gmail.com</td>
                            <td>06170902</td>
                            <td><div class="badge bg-success bg-opacity-10 text-success">male</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xs flex-shrink-0">
                                        <img class="avatar-img rounded-circle" src="/img/amin.png" alt="avatar">
                                    </div>
                                   
                                </div>
                            </td>
                            <td>Lori Stevens</td>
                            <td>Lori Stevens</td>
                            <td>lori@gmail.com</td>
                            <td>06170902</td>
                            <td><div class="badge bg-success bg-opacity-10 text-success">male</div></td>
                        </tr>
                     
                      
                      
                        
                      
                        
                        
                   </tbody>
                </table>

             
            </div>
        </div>
    </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- Footer Ends!! -->

</body>
</html>
