<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
    <section class="pt-0">
        <div class="container">
            <div class="row g-4">
    
    
                <!-- Card item START -->
                 <% hotelfind.forEach(hotelfind => { %>
                    <div class="col-md-6 col-xl-4 mt-9">
                        <div class="card shadow p-1 pb-0  ">
                            <!-- Image -->
                            <img style="height: 30vh;"  src=<%= hotelfind.Photo %> class="rounded-2" alt="Card image" >
        
                            <!-- Card body START -->
                            <div class="card-body px-3 pb-0">
                                <!-- Rating and cart -->
                                <div class="d-flex justify-content-between mb-3">
                                    <a href="#" class="badge bg-dark text-white"><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>4.0</a>
                                    <a href="#" class="h6 mb-0 z-index-2"><i class="bi bi-heart"></i></a>
                                </div>
        
                                <!-- Title -->
                                <h5 class="card-title"><%= hotelfind.Nom_Hotel %> </h5>
        
                                <!-- List -->
                                <ul class="nav nav-divider mb-2 mb-sm-3">
                                    <li class="nav-item">Air Conditioning</li>
                                    <li class="nav-item">Wifi</li>
                                    <li class="nav-item">Pool</li>
                                    <li class="nav-item">More+</li>
                                </ul>
                            </div>
                            <!-- Card body END -->
        
                            <!-- Card footer START-->
                            <div class="card-footer pt-0">
                                <!-- Price and Button -->
                                <div class="d-sm-flex justify-content-sm-between align-items-center">
                                    <!-- Price -->
                                    <div class="d-flex align-items-center">
                                        <h5 class="fw-normal text-success mb-0 me-1">$<%= hotelfind.Prix %></h5>
                                        <span class="mb-0 me-2">/day</span>
                                    </div>
                                    <!-- Button -->
                                    <div class="mt-2 mt-sm-0 z-index-2">
                                        <a href="reserver-Hotel " class="btn btn-sm btn-primary-soft mb-0 w-100">Reservé<i class="bi bi-arrow-right ms-2"></i></a>    
                                    </div>                  
                                </div>
                            </div>
                        </div>
                    </div>
                 <% }) %>
              
                <!-- Card item END -->
    
                        
        </div>
    </section>
   
</body>
</html>
