<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css">

</head>
<body>
    <%- include('../partials/header-client.ejs') %>

<section class="pt-4 pt-md-5">
	<div class="container">
		<div class="row mb-5">
			<div class="col-xl-10">
				<h1>Connectons-nous et faisons connaissance</h1>
				<p class="lead mb-0">Voyagez en toute sérénité avec notre service de réservation de vols et de voitures. Découvrez des offres exclusives adaptées à vos besoins.</p>
			</div>
		</div>

		<!-- Infos de contact -->
		<div class="row g-4">

			<!-- Élément de contact DEBUT -->
			<div class="col-md-6 col-xl-4">
				<div class="card card-body shadow text-center align-items-center h-100">
					<!-- Icône -->
					<div class="icon-lg bg-info bg-opacity-10 text-info rounded-circle mb-2"><i class="bi bi-headset fs-5"></i></div>
					<!-- Titre -->
					<h5>Appelez-nous</h5>
					<p>Besoin d'aide pour votre réservation? Nous sommes là pour vous.</p>
					<!-- Boutons -->
					<div class="d-grid gap-3 d-sm-block">
						<button class="btn btn-sm btn-primary-soft"><i class="bi bi-phone me-2"></i>06017039418</button>
						<button class="btn btn-sm btn-light"><i class="bi bi-telephone me-2"></i>06112515488</button>
					</div>
				</div>
			</div>
			<!-- Élément de contact FIN -->

			<!-- Élément de contact DEBUT -->
			<div class="col-md-6 col-xl-4">
				<div class="card card-body shadow text-center align-items-center h-100">
					<!-- Icône -->
					<div class="icon-lg bg-danger bg-opacity-10 text-danger rounded-circle mb-2"><i class="bi bi-inboxes-fill fs-5"></i></div>
					<!-- Titre -->
					<h5>Envoyez-nous un e-mail</h5>
					<p>Nous répondrons à toutes vos questions rapidement.</p>
					<!-- Boutons -->
					<a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-link text-decoration-underline p-0 mb-0"><i class="bi bi-envelope me-1"></i>YounessBakka7@gmail.com</a>
					<a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-link text-decoration-underline p-0 mb-0"><i class="bi bi-envelope me-1"></i>Amin@gmail.com</a>
				</div>
			</div>
			<!-- Élément de contact FIN -->

			<!-- Élément de contact DEBUT -->
			<div class="col-xl-4 position-relative">
				<!-- Décoration Svg -->
				<figure class="position-absolute top-0 end-0 z-index-1 mt-n4 ms-n7">
					<svg class="fill-warning" width="77px" height="77px">
						<path d="M76.997,41.258 L45.173,41.258 L67.676,63.760 L63.763,67.673 L41.261,45.171 L41.261,76.994 L35.728,76.994 L35.728,45.171 L13.226,67.673 L9.313,63.760 L31.816,41.258 L-0.007,41.258 L-0.007,35.725 L31.816,35.725 L9.313,13.223 L13.226,9.311 L35.728,31.813 L35.728,-0.010 L41.261,-0.010 L41.261,31.813 L63.763,9.311 L67.676,13.223 L45.174,35.725 L76.997,35.725 L76.997,41.258 Z"></path>
					</svg>
				</figure>

				<div class="card card-body shadow text-center align-items-center h-100">
					<!-- Icône -->
					<div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-circle mb-2"><i class="bi bi-globe2 fs-5"></i></div>
					<!-- Titre -->
					<h5>Médias sociaux</h5>
					<p>Suivez-nous pour les dernières mises à jour.</p>
					<!-- Boutons -->
					<ul class="list-inline mb-0">
						<li class="list-inline-item"> <a class="btn btn-sm bg-facebook px-2 mb-0" href="https://www.facebook.com/"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-sm bg-instagram px-2 mb-0" href="https://www.instagram.com/"><i class="fab fa-fw fa-instagram"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-sm bg-twitter px-2 mb-0" href="https://x.com/"><i class="fab fa-fw fa-twitter"></i></a> </li>
					</ul>
				</div>
			</div>
			<!-- Élément de contact FIN -->
		</div>
	</div>
</section>

<section class="pt-0 pt-lg-5">
	<div class="container">
		<div class="row g-4 g-lg-5 align-items-center">
			<!-- Image vectorielle DEBUT -->
			<div class="col-lg-6 text-center">
				<img src="img/04.jpg" alt=""  style="border-radius: 10px;height: 77vh;width: 47vw;">
			</div>
			<!-- Image vectorielle FIN -->

			<!-- Formulaire de contact DEBUT -->
			<div class="col-lg-6">
				<div class="card bg-light p-4">
					<!-- Décoration Svg -->
					<figure class="position-absolute end-0 bottom-0 mb-n4 me-n2">
						<svg class="fill-orange" width="104.2px" height="95.2px">
							<circle cx="2.6" cy="92.6" r="2.6"></circle>
							<circle cx="2.6" cy="77.6" r="2.6"></circle>
							<circle cx="2.6" cy="62.6" r="2.6"></circle>
							<circle cx="2.6" cy="47.6" r="2.6"></circle>
							<circle cx="2.6" cy="32.6" r="2.6"></circle>
							<circle cx="2.6" cy="17.6" r="2.6"></circle>
							<circle cx="2.6" cy="2.6" r="2.6"></circle>
							<circle cx="22.4" cy="92.6" r="2.6"></circle>
							<circle cx="22.4" cy="77.6" r="2.6"></circle>
							<circle cx="22.4" cy="62.6" r="2.6"></circle>
							<circle cx="22.4" cy="47.6" r="2.6"></circle>
							<circle cx="22.4" cy="32.6" r="2.6"></circle>
							<circle cx="22.4" cy="17.6" r="2.6"></circle>
							<circle cx="22.4" cy="2.6" r="2.6"></circle>
							<circle cx="42.2" cy="92.6" r="2.6"></circle>
							<circle cx="42.2" cy="77.6" r="2.6"></circle>
							<circle cx="42.2" cy="62.6" r="2.6"></circle>
							<circle cx="42.2" cy="47.6" r="2.6"></circle>
							<circle cx="42.2" cy="32.6" r="2.6"></circle>
							<circle cx="42.2" cy="17.6" r="2.6"></circle>
							<circle cx="42.2" cy="2.6" r="2.6"></circle>
							<circle cx="62" cy="92.6" r="2.6"></circle>
							<circle cx="62" cy="77.6" r="2.6"></circle>
							<circle cx="62" cy="62.6" r="2.6"></circle>
							<circle cx="62" cy="47.6" r="2.6"></circle>
							<circle cx="62" cy="32.6" r="2.6"></circle>
							<circle cx="62" cy="17.6" r="2.6"></circle>
							<circle cx="62" cy="2.6" r="2.6"></circle>
							<circle cx="81.8" cy="92.6" r="2.6"></circle>
							<circle cx="81.8" cy="77.6" r="2.6"></circle>
							<circle cx="81.8" cy="62.6" r="2.6"></circle>
							<circle cx="81.8" cy="47.6" r="2.6"></circle>
							<circle cx="81.8" cy="32.6" r="2.6"></circle>
							<circle cx="81.8" cy="17.6" r="2.6"></circle>
							<circle cx="81.8" cy="2.6" r="2.6"></circle>
							<circle cx="101.6" cy="92.6" r="2.6"></circle>
							<circle cx="101.6" cy="77.6" r="2.6"></circle>
							<circle cx="101.6" cy="62.6" r="2.6"></circle>
							<circle cx="101.6" cy="47.6" r="2.6"></circle>
							<circle cx="101.6" cy="32.6" r="2.6"></circle>
							<circle cx="101.6" cy="17.6" r="2.6"></circle>
							<circle cx="101.6" cy="2.6" r="2.6"></circle>
						</svg>
					</figure>
					<!-- Titre -->
					<h2 class="h3">Restez en contact</h2>
					<p class="mb-3">Remplissez le formulaire pour nous contacter.</p>
					<!-- Formulaire -->
					<form action="/add_contact" method="post">
						<div class="mb-3">
							<label class="form-label">Nom complet</label>
							<input name="nomComplet" class="form-control" type="text" placeholder="Entrez votre nom complet">
						</div>
						<div class="mb-3">
							<label class="form-label">Adresse e-mail</label>
							<input name="adresseEmail" class="form-control" type="email" placeholder="Entrez votre e-mail">
						</div>
						<div class="mb-3">
							<label class="form-label">Message</label>
							<textarea name="message" class="form-control" rows="4" placeholder="Tapez votre message ici"></textarea>
						</div>
						<button class="btn btn-primary" type="submit">Envoyer le message</button>
					</form>
				</div>
			</div>
			<!-- Formulaire de contact FIN -->
		</div>
	</div>
</section>

<section class="pt-0 pt-lg-5">
	<div class="container">
		<div class="row g-4 g-md-5">
			<!-- Titre de section DEBUT -->
			<div class="col-lg-6 mx-auto text-center">
				<h2 class="h1 mb-4">Questions fréquemment posées</h2>
				<p class="mb-0">Vous avez des questions? Nous avons les réponses!</p>
			</div>
			<!-- Titre de section FIN -->

			<div class="col-12">
				<div class="accordion accordion-icon accordion-border" id="accordionExample">
					<!-- Élément d'accordéon DEBUT -->
					<div class="accordion-item">
						<h6 class="accordion-header font-base" id="headingOne">
							<button class="accordion-button fw-bold rounded d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Comment puis-je réserver un vol?</button>
						</h6>
						<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body mt-3">
								<p>Pour réserver un vol, connectez-vous à votre compte, sélectionnez votre destination, choisissez un vol et suivez les instructions de paiement. C'est simple et rapide.</p>
							</div>
						</div>
					</div>
					<!-- Élément d'accordéon FIN -->

					<!-- Élément d'accordéon DEBUT -->
					<div class="accordion-item">
						<h6 class="accordion-header font-base" id="headingTwo">
							<button class="accordion-button fw-bold rounded collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Puis-je annuler ma réservation de voiture?</button>
						</h6>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body mt-3">
								<p>Oui, vous pouvez annuler votre réservation de voiture dans les 24 heures suivant la réservation. Passé ce délai, des frais d'annulation peuvent s'appliquer.</p>
							</div>
						</div>
					</div>
					<!-- Élément d'accordéon FIN -->

					<!-- Élément d'accordéon DEBUT -->
					<div class="accordion-item">
						<h6 class="accordion-header font-base" id="headingThree">
							<button class="accordion-button fw-bold rounded collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quels documents sont nécessaires pour louer une voiture?</button>
						</h6>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body mt-3">
								<p>Pour louer une voiture, vous aurez besoin d'un permis de conduire valide, d'une pièce d'identité avec photo et d'une carte de crédit à votre nom.</p>
							</div>
						</div>
					</div>
					<!-- Élément d'accordéon FIN -->

				</div>
			</div>
		</div>
	</div>
</section>

<section class="pt-0 pt-lg-5">
	<div class="container">
		<div class="bg-info bg-opacity-10 rounded-3 p-4 p-sm-5">
			<div class="row">
				<div class="col-xl-5">
					<h2 class="h1 mb-2">Restez informé</h2>
					<p class="lead mb-0">Inscrivez-vous à notre newsletter pour recevoir les dernières offres et mises à jour.</p>
				</div>
				<div class="col-xl-7">
					<form class="row g-3 align-items-center mt-3 mt-xl-0">
						<div class="col-md-9">
							<input type="email" class="form-control" placeholder="Entrez votre adresse e-mail" required="">
						</div>
						<div class="col-md-3">
							<button type="submit" class="btn btn-primary w-100 mb-0">S'inscrire</button>
						</div>
					</form>
					<!-- Politique de confidentialité -->
					<div class="form-text mt-2">Nous respectons votre vie privée. Consultez notre <a href="#" class="text-decoration-underline">politique de confidentialité</a>.</div>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include('../partials/footer-client.ejs') %>

</body>
</html>
