<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelista Tours Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="TravelLoginPage">
        <div class="left-side">
            <div class="content">
                <h1>Travelista Tours</h1>
                <p>Travel is the only purchase that enriches you in ways<br/>beyond material wealth</p>
            </div>
        </div>
        <div class="right-side">
            <h1 class="welcome">Welcome</h1>
            <p class="login-with-email">Register with Email</p>
            <form>
                <div class="input-group">
                    <label for="email">Entre Email Id</label>
                    <input type="email" id="email" placeholder="example@mail.com">
                    <img src="/img/Message_Icon.png" alt="Mail Icon" class="icon">
                </div>
                <div class="input-group">
                    <label for="password">Entre Password</label>
                    <input type="password" id="password" placeholder="password">
                    <img src="/img/lock_icon.png" alt="Lock Icon" class="icon">
                </div>
                <div class="input-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="password" placeholder="password">
                    <img src="/img/lock_icon.png" alt="Lock Icon" class="icon">
                </div>
                <button type="submit" class="login-btn">LOGIN</button>
                <div class="or-divider"><span>OR</span></div>
                <div class="google-btn">
                    <img src="/img/google_icon.png" alt="Google Logo" class="Google-icon">
                    <span>Google</span>
                </div>
            </form>
            <div class="register-link">
                <span>Already a member? Log in</span>
            </div>
        </div>
        <div class="blue-icons">
            <img src="/img/3.png" alt="Icon 1" class="icon-1">
            <img src="/img/1.png" alt="Icon 2" class="blue-icon icon-2">
            <img src="/img/2.png" alt="Icon 3" class="blue-icon icon-3">

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
