body {
    font-family: Arial, sans-serif;

}
.footer {
    background-color: black;
    color: #fff;
    padding: 10px 0; 
    height: 50px; 
}

.footer-container {
    max-width: 960px; 
    margin: 0 auto;
}
footer a {
    color:white;
    text-decoration: none;

}
footer a:hover {
    color:#009EE2;
    text-decoration: none;
}
.footer-logo img {
    height: 30px;
    margin-left: 0;
}

.footer-social-icons i {
    font-size: 1.2em;
    margin-left: 900%;

    transition: color 0.3s;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    margin-top: 10%;
}

.footer-copyright {
    color: #c5c5c7;
    display: inline-block; 
    white-space: nowrap; 
}