.header-sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #f8f9fa; /* Light background color for navbar-light */
}

/* Navbar brand item */
.navbar-brand-item {
    height: 40px; /* Adjust height as needed */
}

/* Light mode and dark mode items */
.light-mode-item {
    display: block;
}

/* General styling for the header */
header {
    background-color: #f8f9fa;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 5px; /* Rounded corners */
    display: flex;
    justify-content: space-between; /* Align items to the ends with space between */
    align-items: center;
    margin-bottom: 2%;
}

.navbar-brand img {
    max-height: 40px; /* Adjust as needed */
    vertical-align: middle;
    margin-left: 250px; /* Move to the right */
}

.logout-link {
    background-color: #009EE2;
    border-color: #009EE2;
    font-size: 15px !important;
    color: white !important;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    
}

.btn-primary:hover {
    background-color: #009EE2;
    border-color: #009EE2;
}

.language-switcher {
    display: flex;
    align-items: center;
    margin-right: 250px;
}

.language-switcher a:hover {
    color: #009EE2;
}

.language-switcher a {
    color: #000;
    margin-right: 15px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.5s;
}