/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the HTML and body take up the full height of the viewport */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Flex-grow property for the main content */
.main-content {
    flex: 1;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Table container */
.card-body {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: #f8f9fa;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid #dee2e6;
}

tbody td {
    padding: 12px;
    font-size: 14px;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #dee2e6;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5%;
}

.btn-light {
    background-color: #f8f9fa;
    color: #333;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card-body {
        padding: 10px;
    }
    
    table {
        font-size: 12px;
    }
}

.button-primary {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: #009EE2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto; /* Adjust this to move the button to the right */
    position: relative; /* Ensure the button is positioned correctly */
    z-index: 1; /* Ensure the button is on top */
   
}

/* Additional styles for the table controls */
.table-controls {
    display: flex;
    justify-content: space-between; /* Align controls to the right */
    padding: 10px 70px;
    margin-bottom: 1px;
}



.arrow{
    font-size: 25px;
}
.arrow a{
    font-size: 30px;
    color: black;
}