
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        
        height: 100vh;
    }

    .card {
        width: 100%;
        max-width: 90%;
        background-color: #fff;
        padding: 20px;  
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-left: auto;
        margin-right: auto;
        
    }

    .review {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f9f9f9;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1%;
    }

    .review .delete-btn {
        background: none;
        border: none;
        cursor: pointer;
        color: red;
    }

    .review p {
        margin: 0;
    }

    .rating {
        margin-top: 8px;
    }

    .rating .icon {
        color: #f8d500;
    }

    .table-controls {
    display: flex;
    justify-content: space-between; /* Align controls to the right */
    padding: 10px 70px;
    margin-bottom: 1px;
}

.arrow{
    font-size: 25px;
}
.arrow a{
    font-size: 30px;
    color: black;
}
