<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
   <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/add-responsable.css">
</head>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->
  <div class="container center-card">
    <section>
      <div class="container">
        <div class="card shadow">
          <div class="card-header border-bottom">
            <h5 class="mb-0">Réservation D'Hotel</h5>
          </div>

          <div class="card-body">
            <form action="/add-HotelReservation" method="POST" enctype="multipart/form-data">
                    <div class="row g-3">
                        <div class="col-md-6">
                        <label class="form-label">Nom Hotel</label>
                        <input class="form-control" type="text" name="Nom_Hotel" placeholder="Entrez Nom Hotel" required>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label"> Nombre_Chambre</label>
                          <input class="form-control" type="number" name="Nombre_Chambre" placeholder=" Nombre de Chambre" required>
                          </div>
                        <div class="col-md-6">
                            <label class="form-label"> Date_Retour</label>
                            <input class="form-control" type="date" name="Date_Retour" placeholder=" Description" required>
                        </div>
                        <div class="col-md-6">
                        <label class="form-label"> Nombre_Personne</label>
                        <input class="form-control" type="number" name="Description" placeholder=" Nombre de Personne" required>
                        </div>
                            <div class="col-md-6">
                              <label class="form-label">Date_Aller</label>
                              <input class="form-control" type="date" name="Date_Aller" placeholder="Entrez Adresse Hotel" required>
                              </div>
                              <div class="col-md-6">
                                <label class="form-label">Photo</label>
                                <input class="form-control" type="file" name="photo" required>
                              </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Souvgarder</button>
                        </div>
            </form>
                     </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- Footer End !! -->
</body>
</html>
