<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/add-responsable.css">
</head>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->
  <div class="container center-card">
    <section>
      <div class="container">
        <div class="card shadow">
          <div class="card-header border-bottom">
            <h5 class="mb-0">Ajouter  car</h5>
          </div>
          <div class="card-body">
            <form action="/add-car" method="POST" enctype="multipart/form-data">
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">Name Compagnies</label>
                  <input class="form-control" type="text" name="name_companies" placeholder="Entrez Nom Compagnies" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Prix</label>
                  <input class="form-control" type="number" name="prix" placeholder="Entrez Prix" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Lieu de ramassage</label>
                  <input class="form-control" type="text" name="Lieu_de_ramassage" placeholder="Entrez Lieu de ramassage" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Date de ramassage</label>
                  <input class="form-control" type="date" name="Date_de_ramassage" placeholder="Entrez Date de ramassage" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Nom de car</label>
                  <input class="form-control" type="text" name="name_car" placeholder="Entrez Nom de car" required>
                </div>   
                <div class="col-md-6">
                  <label class="form-label">car_model</label>
                  <input class="form-control" type="text" name="car_model" placeholder="Entrez Nom de car" required>
                </div>   
                <div class="col-md-6">
                  <label class="form-label">username</label>
                  <input class="form-control" type="text" name="username" placeholder="Entrez Nom d'utilisateur">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Temps</label>
                  <input class="form-control" type="time" name="Temps" placeholder="Entrez Temps" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Type</label>
                  <select class="form-control" name="type" required>
                      <option value="diesel">Diesel</option>
                      <option value="gasoil">Gasoil</option>
                  </select>
              </div>
               
                <div class="col-md-6">
                  <label class="form-label">Photo</label>
                  <input class="form-control" type="file" name="photo" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">nombre_seats</label>
                  <input class="form-control" type="number" name="nombre_seats" placeholder="Entrez nombre_seats " required>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Description</label>
                  <input class="form-control" type="text" name="description" placeholder="Entrez description " required>
                </div>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-primary" style="margin: 10px;">Sauvegarder</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- Footer End !! -->
</body>
</html>
