<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Réservation Car</title>
  <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/add-responsable.css">
</head>
<style>
  .table-controls {
   display: flex;
   justify-content: space-between; /* Align controls to the right */
   padding: 10px 70px;
   margin-bottom: 1px;
}

.arrow{
   font-size: 25px;
}
.arrow a{
   font-size: 30px;
   color: black;
}
</style>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->
  <div class="table-controls">  

    <div class="arrow">
        <a href="/carReservationList">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
 
  <div class="container center-card">
    <section>
      <div class="container">
        <div class="card shadow">
          <div class="card-header border-bottom">
            <h5 class="mb-0">Réservation Car</h5>
          </div>
          <div class="card-body">
            <form action="/add-CarReservation" method="POST">
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">name_companies</label>
                  <input class="form-control" type="text" name="name_companies" placeholder="Entrez name_compagnies" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">nombre_jour</label>
                  <input class="form-control" type="number" name="nombre_jour" placeholder="Entrez votre nombre_jour" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Email</label>
                  <input class="form-control" type="email" name="Email" placeholder="Entrez votre Email" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Numéro Téléphone</label>
                  <input class="form-control" type="tel" name="tele" placeholder="Numéro Téléphone" required>
                </div>
             
              
                <div  class="col-md-6">
                    <label for="genre">Genre:</label>
                    <select id="genre" name="genre" class="form-control" required>
                        <option value="femme">Femme</option>
                <option value="homme">Homme</option>
                    </select>
                </div>

            
                <div class="mt-3">
                  <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- Footer End !! -->
</body>
</html>

